# development tools
bumpversion

# python shell & debugger
pudb
ipython

# Testing dependencies
mock
tox
unittest2
pytest
pytest-cov
pytest-pep8
pytest-sugar

# Code style and coverage
flake8
coverage==3.7.1
pyflakes
coveralls

# documentation
Sphinx
docutils
sphinx_rtd_theme
